<%= form_for(@restaurant_cuisine_association) do |f| %>
  <% if @restaurant_cuisine_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_cuisine_association.errors.count, "error") %> prohibited this restaurant_cuisine_association from being saved:</h2>

      <ul>
      <% @restaurant_cuisine_association.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_id %><br />
    <%= f.text_field :restaurant_id %>
  </div>
  <div class="field">
    <%= f.label :restaurant_cuisine_id %><br />
    <%= f.text_field :restaurant_cuisine_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
