<h1>Listing restaurant_cuisine_associations</h1>

<table>
  <tr>
    <th>Restaurant</th>
    <th>Restaurant cuisine</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurant_cuisine_associations.each do |restaurant_cuisine_association| %>
  <tr>
    <td><%= restaurant_cuisine_association.restaurant_id %></td>
    <td><%= restaurant_cuisine_association.restaurant_cuisine_id %></td>
    <td><%= link_to 'Show', restaurant_cuisine_association %></td>
    <td><%= link_to 'Edit', edit_restaurant_cuisine_association_path(restaurant_cuisine_association) %></td>
    <td><%= link_to 'Destroy', restaurant_cuisine_association, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant cuisine association', new_restaurant_cuisine_association_path %>
