<p id="notice"><%= notice %></p>

<p>
  <b>Menu item:</b>
  <%= @menu_label_association.menu_item_id %>
</p>

<p>
  <b>Menu label:</b>
  <%= @menu_label_association.menu_label_id %>
</p>

<p>
  <b>User:</b>
  <%= @menu_label_association.user_id %>
</p>


<%= link_to 'Edit', edit_menu_label_association_path(@menu_label_association) %> |
<%= link_to 'Back', menu_label_associations_path %>
