= render :partial => "buttons"
= render :partial => "filters"
#reviews_wrapper{:class => class_name_from_path}
  #update_place_restaurants{:class => class_name_from_path}
    - if params[:search_restaurants]
      = render :partial => "result_restaurants"
    - elsif params[:search_dishes]
      = render :partial => "result_menu_items"
    - else
      = render :partial => "result_all"



