- content_for :opengraph_meta_tags, opengraph_meta_tags_for(@restaurant)
#content
  #current_content_block
    -#bread_crumbs
      /=link_to("â† "+"back to results", "#")
    #current_info_wrapper.restaurant{:data => {:latitude=> @restaurant.latitude, :longitude => @restaurant.longitude, :restaudat_id => params[:restaurant_id]}}
      #img_column.himportant
        =image_tag "temp_image.png"
        #icons_img_wrapper
          %span.photos_inline
            =link_to "75 photos","@@"
          %span.add_photos_inline
            =link_to "add photos","@@"


          #photos_icon &nbsp;
      #text_column.restaurant
        %h1.current_title= @restaurant.name

        #desc_wrap_rest
          #description
            %p= "#{@restaurant.street_address} #{@restaurant.cross_street}"
            %p= @restaurant.neighborhood
            %p= "#{@restaurant.city}, #{@restaurant.state} #{@restaurant.zip}"
            %p= @restaurant.telephone
            -#.phone_number
              -# %p= @restaurant.telephone
              -# / .col1_pn

              -# /  %p= link_to "www.siet.com"
              -#.col2_pn
                -#:erb
                  -#<%= like_button_for @restaurant, :layout => :button_count, :width => 150, :show_faces => false %>         

          -#fb-root
          -#%script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
          -#%fb:send{:font => "arial", :href => "http://getcrave.com/places/" + @restaurant.friendly_id}

  #reviews_wrapper.restaurant
    %h3.review
      Menu



    #reviews_wrapper{:class => class_name_from_path}
      = render :partial => "restaurants/modal_add_item"

      #update_place_restaurants{:class => class_name_from_path}
        = render :partial => "/items_grouped_by_stars"


