<h1>Listing menu_items</h1>
<br />


	<table>
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
		<th>Restaurant</th>
	    <th></th>
		<th></th>
	  </tr>

	<% @menu_items.each do |menu_item| %>
	  <tr>
	    <td><%= menu_item.name %></td>
	    <td><%= menu_item.description %></td>
		<td><%= menu_item.restaurant_id %></td>		
	    <td><%= link_to 'Show', menu_item %></td>
	    <td><%= link_to 'Rate', new_menu_item_menu_item_rating_path(menu_item) %></td>
	  </tr>
	<% end %>
	</table>

	<br />

<%= link_to 'New Menu item', new_menu_item_path %>
