



#current_content_block
  #bread_crumbs
    = link_to("â† "+@menu_item.restaurant.name, @menu_item.restaurant)
  #current_info_wrapper{:data => {:latitude=> @menu_item.restaurant.latitude, :longitude => @menu_item.restaurant.longitude, :menu_item_id => params[:id]}}
    #img_column
      = image_tag "temp_image.png"
      #icons_img_wrapper
        %span.photos_inline
          #gallery
            = render :partial => "gallery_link"







        %span.add_photos_inline
          =link_to "add photos","#", :id => "plupload"
        #photos_icon &nbsp;
    #text_column
      %h1.current_title= @menu_item.name
      #stars_wrap

        -#TODO: almazom. bad catching exception (((
        - begin
          - if @menu_item.menu_item_avg_rating_count
            - avg = @menu_item.menu_item_avg_rating_count.avg_rating.round
          - else
            - avg = 0
        - rescue
          - avg = 0

        -class_name ="stars_"+avg.to_s
        #star_average{:class => class_name.gsub(/[.]/, '_'), :data =>{:rating => avg}} &nbsp;
      #rating
        -if @menu_item.menu_item_avg_rating_count
          %span= @menu_item.menu_item_avg_rating_count.count
          Reviews
      #desc_wrap
        #description= @menu_item.description
        #dishlabels
          %strong Dish labels:
        #labels
          -%W{Gluten-Free Vegan Vegetarian}.each do |x|
            .birdy &nbsp;
            =link_to(x+"(12)","#", :class => "label")
            ,
          .plus &nbsp;
          =link_to "#" do
            Add a label

      =image_tag "social.png"
    = render :partial => "/save"


  #comment_wrapper_wrapper
    #comment_wrapper
      #content_title
        Have you tried this?
      =form_for(MenuItemRating.new, :remote => true) do |f|
        =f.hidden_field :rating
        =f.hidden_field :menu_item_id, :value =>params[:id]
        .star_gray{:id => params[:id], :data =>{:model => "user_menu_item_ratings"}} &nbsp;
        #input_comment
          =f.text_field :review
          =f.hidden_field :menu_item_id, :value =>params[:id]
#reviews_wrapper{:class => @controller.controller_name}
  %h3.review
    Reviews

  #select_box_hint &nbsp;
  #sorting
    #before_sort_by
      Sort by:
    #sort_by
      =text_field(:select, :sorttype, :value => "Newest", :disabled => true)
      %ul
        -["Rating", "Other"].each do |x|
          %li= x
  #update_place= render :partial => "review"




  -#= render :partial => "/sidebar"


