<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @menu_item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @menu_item.description %>
</p>

<p>
  <b>Restaurant:</b>
  <a href="/restaurants/<%= @menu_item.restaurant_id %>"><%= @menu_item.restaurant_id %></a>
</p>

<p>
	<%= @menu_item.menu_item_ratings.each do |m| %>
		<%= m.user_id %> rated this <%= m.rating %>: <%= m.review %><br />
	<% end %>
</p>

<%= link_to 'Back', menu_items_path %> |
<%= link_to 'Rate', new_menu_item_menu_item_rating_path(@menu_item) %>
