- if @following || @followers
  %table
    - @followers ? items = @followers : items = @following
    - items.each do |@user_f|
      - user = User.find(@followers ? @user_f.user_id : @user_f.following_user_id)
      %tr

        %td.thumbnail= image_tag "reviews_avatar_temp.png"
        %td.name= link_to user.user_name, user
        %td.reviews
          .reviews_couner_3_col
            %h3= user.menu_item_ratings.count
            reviews
        %td
          .reviews_couner_3_col
            %h3= user.user_ratings_count
            ratings
        %td
          .reviews_couner_3_col
            %h3= user.user_followings.find(:all).count
            following
        %td
          .reviews_couner_3_col
            %h3= user.followers.count

            followers
        %td.button_following
          - current_user.is_following?(user) ? class_name = "current_user_is_following unfollow" : class_name = "cu_not_following follow"

          - form_for(UserFollowing.new, :remote => true) do |f|
            = f.hidden_field :user_id, :value => current_user.id
            = f.hidden_field :following_user_id, :value => user.id

            .f_button{:class => class_name}




