- !params[:user_id] ? user_to_follow = User.find(params[:id]) : user_to_follow = User.find(params[:user_id])
#current_content_block
  #bread_crumbs_user
  #current_info_wrapper
    #img_column
      - if !@user.user_profile_pic_url.nil?
        = image_tag @user.user_profile_pic_url+"?type=large", :width=>140
      - else
        =image_tag "person-noimage.png"

      #icons_img_wrapper
        -#%span.add_photos_inline
        -#  1
        #photos_icon &nbsp;
    #text_column
      %h1.current_title= @user.user_name
      - if current_user.id == @user.id
        - url = "http://secure.getcrave.com/users/" + @user.id.to_s + "/edit"
        = link_to "Edit your profile", url

      #rating
        = @user.menu_item_ratings.count
        reviews,
        = @user.menu_item_photos.count
        photos,
        = @user.menu_label_associations.count
        labels

      - @fb_auth = @user.authorizations.where(:provider => 'facebook').first
      - @twitter_auth = @user.authorizations.where(:provider => 'twitter').first
      - @foursquare_auth = @user.authorizations.where(:provider => 'foursquare').first

      - if @fb_auth
        - @url = "http://facebook.com/profile.php?id=" + @fb_auth.uid.to_s
        = link_to "Facebook", @url
      - if @twitter_auth
        - @url = "http://twitter.com/"
        = link_to "Twitter", @url
      - if @foursquare_auth
        - @url = "http://foursquare.com/"
        = link_to "Foursquare", @url
      .i
        = @user.bio

      - if current_user && user_to_follow != current_user
        - form_for(UserFollowing.new, :remote => true) do |f|
          = f.hidden_field :user_id, :value => current_user.id
          = f.hidden_field :following_user_id, :value => user_to_follow.id
          -#= current_user.is_following?(user_to_follow)
          - if current_user.is_following?(user_to_follow) then class_name = "unfollow" else class_name = "follow" end

          .follow_button{:class => class_name}
      - else
        - if !current_user
          .follow_button{:class => "follow"}







      / .bio
      /  %strong Bio:
      / lkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf