
- params[:id] ? user_to_follow = User.find(params[:id]) : user_to_follow = User.find(params[:params_id])


#current_content_block
  #bread_crumbs_user
  #current_info_wrapper
    #img_column
      - if !@user.user_profile_pic_url.nil?
        = image_tag @user.user_profile_pic_url
      - else
        =image_tag "no_user_big.png"

      #icons_img_wrapper

        -#%span.add_photos_inline
        -#  1
        #photos_icon &nbsp;
    #text_column
      %h1.current_title= @user.user_name


      #rating
        =  @user.menu_item_ratings.count
        reviews
        |
        = @user.menu_item_ratings.count
        ratings
      -#i can not follow myself

      - if current_user && user_to_follow != current_user


        - form_for(UserFollowing.new, :remote => true) do |f|
          = f.hidden_field :user_id, :value => user_to_follow.id
          = f.hidden_field :following_user_id, :value => current_user.id

          - if current_user.is_following?(User.find(params[:id])) then @text = "unfollow" else @text = "follow" end
          = render :partial => "/button"


      .bio
        %strong Bio:
      lkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf lsdjfl s;djkllkdjf