<h1>Listing users</h1>

Total number of reviews: <%= MenuItemRating.count %><br />

<table>
  <tr>
    <th>User name</th>
    <th>Reviews</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Auths</th>
    <th>Photos</th>
    <th>Labels</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.user_name %></td>
    <td><%= user.user_ratings_count.to_s %></td>
    <td><%= user.created_at.to_s %></td>
    <td><%= user.authorizations.count.to_s %></td>
    <td><%= user.menu_item_photos.count.to_s %></td>
    <td><%= user.menu_label_associations.count.to_s %></td>
    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
</table>

<br />