<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @user.user_name %> <br />
  Picture: <%= @user.user_profile_pic_url %>

<p>
	<%= @user.menu_item_ratings.each do |m| %>
		rated <%= m.menu_item_id %> a <%= m.rating %>: <%= m.review %><br />
	<% end %>
</p>

<p>
	<%= @user.user_saved_menu_items.each do |u| %>
		<%= u.menu_item_id %> <br />
	<% end %>
</p>

</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
