<p id="notice"><%= notice %></p>

<p>
  <b>User name:</b>
  <%= @user.user_name %> <br />
  Picture: <%= @user.user_profile_pic_url %> <br />
  Num Reviews: <%= @user.menu_item_ratings.count %>
</p>

<p>
	Reviews:
	<br />
	<%= @user.menu_item_ratings.each do |m| %>
		rated <a href="/menu_items/<%= m.menu_item_id %>"><%= m.menu_item_id %></a> a <%= m.rating %>: <%= m.review %><br />
	<% end %>
</p>

<p>
	Saved Items:
	<br />
	<%= @user.user_saved_menu_items.each do |u| %>
		<%= u.menu_item_id %> <br />
	<% end %>
</p>

</p>
