<p id="notice"><%= notice %></p>

<p>
  <b>Menu item:</b>
  <%= @menu_item_photo.menu_item_id %>
</p>

<p>
  <b>Photo:</b>
  <%= @menu_item_photo.photo %>
</p>

<p>
  <b>User:</b>
  <%= @menu_item_photo.user_id %>
</p>


<%= link_to 'Edit', edit_menu_item_photo_path(@menu_item_photo) %> |
<%= link_to 'Back', menu_item_photos_path %>
