%table{:border =>1}
  -if @user_followings
    - @user_followings.each do |@user_f|
      %tr
        %td.thumbnail= image_tag @user_f.user.small_thumbnail
        %td.name= link_to @user_f.user.user_name, @user_f.user
        %td.reviews
          .reviews_couner_3_col
            %h3= @user_f.user.menu_item_ratings.count
            reviews
        %td
          .reviews_couner_3_col
            %h3= @user_f.user.user_ratings_count
            ratings
        %td
          .reviews_couner_3_col
            %h3= @user_f.user.user_followings.find(:all).count
            following
        %td
          .reviews_couner_3_col
            %h3= @user_f.user.followers_counter

            followers
        %td.button_following
          .f_button.follow




