<%= form_for(@restaurant_label) do |f| %>
  <% if @restaurant_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_label.errors.count, "error") %> prohibited this restaurant_label from being saved:</h2>

      <ul>
      <% @restaurant_label.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_label %><br />
    <%= f.text_field :restaurant_label %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
