<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Street address:</b>
  <%= @restaurant.street_address %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @restaurant.neighborhood %>
</p>

<p>
  <b>Zip:</b>
  <%= @restaurant.zip %>
</p>

<p>
  <b>Cross street:</b>
  <%= @restaurant.cross_street %>
</p>

<%= link_to 'Back', restaurants_path %>
<%= link_to 'Menu', restaurant_menu_items_path(@restaurant) %>
