<%= form_for(@restaurant_label_association) do |f| %>
  <% if @restaurant_label_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_label_association.errors.count, "error") %> prohibited this restaurant_label_association from being saved:</h2>

      <ul>
      <% @restaurant_label_association.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_id %><br />
    <%= f.text_field :restaurant_id %>
  </div>
  <div class="field">
    <%= f.label :restaurant_label_id %><br />
    <%= f.text_field :restaurant_label_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
