<%= form_for(@menu_item_rating_helpful) do |f| %>
  <% if @menu_item_rating_helpful.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_item_rating_helpful.errors.count, "error") %> prohibited this menu_item_rating_helpful from being saved:</h2>

      <ul>
      <% @menu_item_rating_helpful.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :menu_item_rating_id %><br />
    <%= f.text_field :menu_item_rating_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
