<h1>Listing menu_item_rating_helpfuls</h1>

<table>
  <tr>
    <th>Menu item rating</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menu_item_rating_helpfuls.each do |menu_item_rating_helpful| %>
  <tr>
    <td><%= menu_item_rating_helpful.menu_item_rating_id %></td>
    <td><%= menu_item_rating_helpful.user_id %></td>
    <td><%= link_to 'Show', menu_item_rating_helpful %></td>
    <td><%= link_to 'Edit', edit_menu_item_rating_helpful_path(menu_item_rating_helpful) %></td>
    <td><%= link_to 'Destroy', menu_item_rating_helpful, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu item rating helpful', new_menu_item_rating_helpful_path %>
