- if !@menu_items && @user_saved_menu_items
  - @menu_items = @user_saved_menu_items.map{|usmi| usmi.menu_item}
- if @results
  - @menu_items = @results

  #results
    #{@results.length} result for #{params[:q]} in #{params[:where][:nearby]}




#reviews_wrapper_bloc_wrapper


  - if !@menu_items && !@menu_items.first().menu_item_avg_rating_count.nil?

    - group_star = @menu_items.first().menu_item_avg_rating_count.avg_rating
  - else
  - group_star = 0


  -#.star_sm{:class => "star_sm stars_"+group_star.to_s.gsub(/[.]/, '_')} &nbsp;


  - @menu_items.each_with_index do |@menu_item, @counter|
    - stars = 0
    - begin
      - stars = @menu_item.menu_item_avg_rating_count.avg_rating if !@menu_item.menu_item_avg_rating_count.nil?
    - rescue NoMethodError
      - logger.error("@menu_item.menu_item_avg_rating_count")


    - if stars.to_f != group_star.to_f
      - group_star = stars
      .star_sm{:class => "star_sm stars_"+stars.to_s.gsub(/[.]/, '_')} &nbsp;
    - if  @controller.action_name == "location" || @controller.action_name == "show_menu_items_nearby" || @controller.controller_name == "user_saved_menu_items"
      = render :partial => "/menu_item_nearby"
    -else
      = render :partial => "/menu_item"
= render :partial => "/show_more" if @menu_items.length > ITEMS_PER_PAGE