= image_tag "nav_left_corner.png", :class => "left_nav_corner"
= image_tag "nav_right_corner.png", :class => "right_nav_corner"

#navigation

  .fb_login
    - if current_user
      #user_small_thumb_logo
        =image_tag(current_user.small_thumbnail, :width => "30", :height => "30")

      Welcome, #{current_user.user_name} | #{link_to( "Sign Out", signout_path, :rel => current_user.id, :class => "current_user")}
    - else
      = link_to(image_tag("fb_login_icon.png"), "/auth/facebook", :class => "not_signed")

  %ul
    %li.nearby{:class => navigation_selected("nearby").to_s}
      .left_corner
        .icon_corner
      - if cookies[:lat]
        = link_to "Nearby", "/items/location?lat=#{cookies[:lat]}&long="+cookies[:long]
      - else
        =link_to "Nearby", nearby_path

    %li.saved{:class => navigation_selected("saved").to_s}
      .left_corner
        .icon_corner
      - if current_user
        = link_to "Saved", saved_user_path(current_user.id)
      - else
        - title = "Please sign in to see your saved items!"
        = link_to_function("Saved", "window.show_dialog(\"#{title}\")")



    %li.foodies{:class => navigation_selected("foodies").to_s}
      .left_corner
        .icon_corner
      - if current_user
        = link_to "Foodies", "#"
      - else
        - title = "Please sign in to see foodies!"
        = link_to_function("Foodies", "window.show_dialog(\"#{title}\")")


    %li.profile{:class => navigation_selected("profile").to_s}
      .left_corner
        .icon_corner
      - if current_user
        = link_to "Profile", user_path(current_user.friendly_id)
      - else
        - title = "Please sign in to see Profile!"
        = link_to_function("Profile", "window.show_dialog(\"#{title}\")")
