

#navigation
  .fb_login
    - if current_user
      #user_small_thumb_logo
        - small_thumbnail = image_tag(current_user.small_thumbnail, :width => "30", :height => "30")
        = link_to(small_thumbnail, current_user)


      #{link_to( "Hey, #{current_user.user_name}", user_path(current_user.friendly_id) )} | #{link_to( "Sign Out", signout_path, :rel => current_user.id, :class => "current_user")}
    - else
      = link_to(image_tag("fb_login_icon.png"), "/auth/facebook", :class => "not_signed")

  %ul
    %li.activity{:class => navigation_selected("activity").to_s}
      .left_corner
        .icon_corner
      - if current_user
        = link_to "Activity", "/activity"
      - else
        - title = "Please sign in to check out our Foodies"
        = link_to_function("Foodies", "window.show_dialog(\"#{title}\")")

    %li.nearby{:class => navigation_selected("nearby").to_s}
      .left_corner
        .icon_corner
      - if cookies[:lat]
        = link_to "Nearby", "/items/location?lat=#{cookies[:lat]}&long="+cookies[:long]
      - else
        =link_to "Nearby", nearby_path

    -#%li.leaderboard{:class => navigation_selected("leaderboard").to_s}
      .left_corner
        .icon_corner

    %li.saved{:class => navigation_selected("saved").to_s}
      .left_corner
        .icon_corner
      - if current_user
        = link_to "Saved", saved_user_path(current_user.id)
      - else
        - title = "Please sign in to see your saved items"
        = link_to_function("Saved", "window.show_dialog(\"#{title}\")")

    %li.profile{:class => navigation_selected("profile").to_s}
      .left_corner
        .icon_corner
      - if current_user
        = link_to "Profile", user_path(current_user.friendly_id)
      - else
        - title = "Please sign in to see your profile"
        = link_to_function("Profile", "window.show_dialog(\"#{title}\")")
